pipeline/ProcessTender.json
{
	"name": "ProcessTender",
	"properties": {
		"activities": [
			{
				"name": "Copy Tender Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "linkBlob",
							"type": "LinkedServiceReference"
						},
						"path": "chipsoftblob",
						"enableCompression": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Tender",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@concat(pipeline().parameters.Country,'/inbox')",
								"type": "Expression"
							},
							"FileName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SF",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Current Date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDate",
					"value": {
						"value": "@formatDateTime(utcNow(),'MMddyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Current Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat(variables('CurrentDate'),'.csv') ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "xxx",
					"value": "sdsd"
				}
			}
		],
		"parameters": {
			"Country": {
				"type": "string"
			}
		},
		"variables": {
			"CurrentDate": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			},
			"xxx": {
				"type": "String"
			}
		},
		"annotations": []
	}
}